.name{
  background-color: white;
  color: green;
}

h1{
  text-align: center;


}

.centre{

margin-left: auto;
margin-right: auto;
width: 50%;
display: block;


}
.bold-text{
  font-weight: bold;
}

.float-left{
  float: left;
}
.float-right{
  float: right;
}
